<div id='show_all_user_posts'>
  <h1><a href="/user/<%= @posts.first.user.id %>"><%= @posts.first.user.username.capitalize %>'s Posts</a></h1>

  <ul>
  <% @posts.each_with_index do |post, index| %>
      <li>
        <div class='list-item'>
          <span class='numbers'><%= index + 1 %>.</span>
          <a class='title' href="/posts/<%= post.id %>/comments"><%= post.title %></a><br>
        </div> 
      </li>
    <% end %>
  </ul>
</div>