<section>
  User: <%= @user.username %></br></br>
  Created at: <%= @user.created_at %></br></br>
  <a id='user_comments' href="/user/<%= @user.id %>/comments">Comment History</a></br></br>
  <a id='user_posts' href="/user/<%= @user.id %>/posts">Post History</a>
</section>

<form>
  <input id='user_info' type='hidden' value="<%= @user.id %>">
</form>